<div class="aluno">
  <div class="form">
    <div class="form-head">
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="form-body">
      <textarea placeholder="Escreva Algo!"></textarea>
    </div>
    <div class="form-footer">
      <button>pública</button>
    </div>
  </div>

  <div class="feends">
    <div class="post">
      <div class="post-head">
         <img src="../../assets/images/ifrn.png" width="50px" height="50px">
         <span>Nome Aluno</span>
         <i class="fas fa-chevron-down" (click)="showMenu(this)"></i>
      </div>
      <div class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus atque hic iure sint autem debitis dolore aut totam, nisi recusandae et placeat enim sequi corrupti vitae. Dolores minima rem nostrum at asperiores et, eos impedit excepturi dolore similique dignissimos quae cum iure facere explicabo in delectus? Asperiores nulla provident tempora doloremque iste distinctio nam tempore quia id eligendi reiciendis quis illum odio suscipit dolorem, sint, quos labore quo eaque. Vitae debitis odit, fuga ratione temporibus modi laudantium, dicta velit cumque officiis eaque blanditiis quo neque excepturi necessitatibus minus, recusandae nam? Alias nulla odit corporis cupiditate consequuntur distinctio vitae tenetur eligendi!
      </div>
      <div class="post-footer">
        <i class="far fa-thumbs-up"></i>
        <i class="far fa-comment-alt"></i>
      </div>
    </div>
  </div>
</div>